@*@using AdminstrationSysytem_v1.Models*@

@{
    ViewBag.Title = "Home Page";
    //var Studnet = TempData["Student"] as Student;
    //var Instructor = TempData["Instructor"] as Instructors;
}
<br />
<br />

@*@if (TempData.Count != 0)
{

    if (TempData.ContainsKey("Student"))
    {
        @section profile {
            @Html.ActionLink("Student Profile", "Contact", "Home")
        }
    }
    else if (TempData.ContainsKey("Instructor"))
    {
        @section profile {
            @Html.ActionLink("Instructor Profile", "Contact", "Home")
        }
    }
}*@


<div class="jumbotron">
    <h2 style="text-align:center;">Infromation Technology Institute </h2><br />
    <p class="lead" style="font-weight:bold" >" The day to day cooperation between the ITI and the University of Paderborn works very smoothly and successfully. I’m very proud of our joint protocol that I consider the best we have in the region, I deeply appreciate your visionary power and your straight ahead mentality."
</p>
    <p><a href="http://www.iti.gov.eg/" class="btn btn-primary btn-lg">ITI &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Outreach</h2>
        <p class="alert alert-success">
            ITI introduced SHAPE IT to dig deeper in the dynamic community sectors, SHAPE IT breaks down to Safety, Health, Agriculture, Power, Education, and Information Technology. With the methodology of "Investigate - Ideate - Innovate - Communicate", the ITI interns first Investigate what the existing developmental problems are, then ideate & innovate by developing innova.
        </p>
        <p><a class="btn btn-default" href="http://www.iti.gov.eg/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Outreach</h2>
        <p class="alert alert-success">ITI introduced SHAPE IT to dig deeper in the dynamic community sectors, SHAPE IT breaks down to Safety, Health, Agriculture, Power, Education, and Information Technology. With the methodology of "Investigate - Ideate - Innovate - Communicate", the ITI interns first Investigate what the existing developmental problems are, then ideate & innovate by developing innova.</p>
        <p><a class="btn btn-default" href="http://www.iti.gov.eg/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Outreach</h2>
        <p class="alert alert-success">YITI introduced SHAPE IT to dig deeper in the dynamic community sectors, SHAPE IT breaks down to Safety, Health, Agriculture, Power, Education, and Information Technology. With the methodology of "Investigate - Ideate - Innovate - Communicate", the ITI interns first Investigate what the existing developmental problems are, then ideate & innovate by developing innova.</p>
        <p><a class="btn btn-default" href="http://www.iti.gov.eg/">Learn more &raquo;</a></p>
    </div>
</div>