@model IEnumerable<AdminstrationSysytem_v1.Models.AttendanceModel>

@{
    ViewBag.Title = "AttendanceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Permissions Sheet</h2>

<br />
@using (Ajax.BeginForm("GivePermission", "Instructors",
  new AjaxOptions
  {
      HttpMethod = "POST",
      InsertionMode = InsertionMode.Replace,
      UpdateTargetId = "StudentTable",
      Confirm = "Do you really want ?",
  }
  ))
{
    <div id="StudentTable">
        @Html.Partial("GivePermissionList")
    </div>
    <input type="submit" class="btn btn-info" />
}









