@model IEnumerable<AdminstrationSysytem_v1.Models.Student>

@{
    ViewBag.Title = "StudentsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center"><i class="fa fa-folder" aria-hidden="true"></i> Students - List</h2>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Create New Fileds
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>@Ajax.ActionLink("Add New Student", "CraeteStudentData", "Students", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "div", OnSuccess = "togglemodel()" })</li>
        <li>@Ajax.ActionLink("Upload Data From Excel Filet", "UploadDataExcel", "Students", new AjaxOptions { InsertionMode = InsertionMode.Replace , UpdateTargetId = "div", OnSuccess= "togglemodel()" })</li>
    </ul>
</div>
<br />
@using (Ajax.BeginForm ("ActivateAccounts", "Students",
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "StudentTable",
                                    Confirm = "Do you really want ?",
                                }
             ))
{
    <div id="StudentTable">
        @Html.Partial("List")
    </div>
    <input type="submit" class="btn btn-info" />
}





<div id="div" class="modal">

</div>



@section scripts {
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function togglemodel() {
            $("#div").modal('show');
        }
    </script>
}






