
@model AdminstrationSysytem_v1.Models.Student

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit - </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Name" class="col-sm-2 control-label">@Model.Name</label>
                </div>
                <div class="form-group">
                    <label for="Birthdate" class="col-sm-2 control-label">Birthdate</label>
                    <div>
                        <input type="text" class="form-control" placeholder="Birthdate" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Address" class="col-sm-2 control-label">Address</label>
                    <div>
                        <input type="text" class="form-control" placeholder="Address" id="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


